body {
   color: #066d5;
   font-family: 'Montserrat', sans-serif;
}

body :link, body :visited {
   color: #066d57
}

h1, h2, h3, h4, h5 {
   color: #066d57
}

.toolbar .breadcrumb a {
  color: rgba(0, 102, 102, 0.8);
}

.search-form h2 {
  color: rgba(0, 102, 102, 0.8);
}


.btn-primary {
   color: white !important;
}

div.tags {
   background-color: white !important;
   color: #066d57 !important
}

.media-heading {
   background-color: white !important;
   color: #066d57 !important;
   /* border: solid 1px rgba(0, 102, 102, 0.8); */
}

.search-form .search-input.search-giant button {
   margin-top: -14px;
}

/* =====================================================
   The "account masthead" bar across the top of the site
   ===================================================== */

.account-masthead {
    background: none;
    background-color: white;
}
/* The "bubble" containing the number of new notifications. */
.account-masthead .account .notifications a span {
  background: none;
  background-color: white;
}
/* The text and icons in the user account info. */
.account-masthead .account ul li a {
  color: rgba(0, 102, 102, 0.8);
}
/* The user account info text and icons, when the user's pointer is hovering
   over them. */
.account-masthead .account ul li a:hover {
  color: rgba(0, 102, 102, 0.9);
  background-color: white;
}


/* ========================================================================
   The main masthead bar that contains the site logo, nav links, and search
   ======================================================================== */

.logo img {
   height: 50px;
}
[role=main], .main {
   background: white;
}

.main {
   background: white;
}

.masthead {
  /*background-color: #3d3d3d;*/
  background: none;
  background-color: white;
}
/* The "navigation pills" in the masthead (the links to Datasets,
   Organizations, etc) when the user's pointer hovers over them. */
.masthead .navigation .nav-pills li a:hover {
  background-color: white;
  color: black;
}
/* The "active" navigation pill (for example, when you're on the /dataset page
   the "Datasets" link is active). */
.masthead .navigation .nav-pills li.active a {
  background-color: rgba(255, 255, 255, 0.8);
  color: rgba(0, 102, 102, 0.8);
  box-shadow: none;
  border: solid 1px rgba(0, 102, 102, 0.8);
}

.account-masthead .account ul li {
   border: none;
}

.masthead .nav>li>a, .masthead .nav>li>a:focus, .masthead .nav>li>a:hover, .masthead .nav>.active>a, .masthead .nav>.active>a:hover, .masthead .nav>.active>a:focus {
  background-color: white;
  color: rgba(0, 102, 102, 0.8);
}
/* The "box shadow" effect that appears around the search box when it
   has the keyboard cursor's focus. */
.masthead input[type="text"]:focus {
  -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
}


/* ===========================================
   The content in the middle of the front page
   =========================================== */

/* Remove the "box shadow" effect around various boxes on the page. */
.box {
  box-shadow: none;
}
/* Remove the borders around the "Welcome to CKAN" and "Search Your Data"
   boxes. */
.hero .box {
  border: none;
}

.hero {
  background: none;
  background-color: white;
}
/* Change the colors of the "Search Your Data" box. */
.homepage .module-search .module-content {
  color: rgb(68, 68, 68);
  background-color: white;
}
/* Change the background color of the "Popular Tags" box. */
.homepage .module-search .tags {
  background-color: rgb(61, 61, 61);
}
/* Remove some padding. This makes the bottom edges of the "Welcome to CKAN"
   and "Search Your Data" boxes line up. */
.module-content:last-child {
  padding-bottom: 0px;
}
.homepage .module-search {
  padding: 0px;
}
/* Add a border line between the top and bottom halves of the front page. */
.homepage [role="main"] {
  border-top: 0px solid rgb(204, 204, 204);
}

/*
.homepage .hero[role="main"] {
  border-top: 1px solid rgb(204, 204, 204) !important;
}
*/


/* ====================================
   The footer at the bottom of the site
   ==================================== */

.site-footer,
body {
  background-color: white;
}




/* The text in the footer. */
.site-footer,
.site-footer label,
.site-footer small {
  color: rgba(0, 102, 102, 0.8);
}
/* The link texts in the footer. */
.site-footer a {
  color: rgba(0, 102, 102, 0.9);
}

.attribution .ckan-footer-logo {
   background: url("/ckan-logo-footer-dark.png") no-repeat top left
}



.form-horizontal .control-label {
   width: 250px;
   padding-right: 5px;
}

.homepage.layout-eudm {
   background-color:white;
}

.homepage.layout-eudm h3.eudm{
   color: #3F4854;
   font-size: 2rem;
   font-weight: 400;
}


.homepage.layout-eudm p{
   color: #3F4854;
   font-size: 1.5rem;
   font-weight: 400;
}



.footer-content {
   text-align: center;
}

.footer-content span {
   padding: 5px 5px;
}

footer.site-footer {
   width:100%;
   height:60px;
   background-color: #FFFFFA;
}

.eudm-homepage-search {
}

.eudm-homepage-search form div input {
   font-size: 1.125rem;
   font-weight: 400;
   padding-top: 16px  !important;
   padding-left: 16px  !important;
   padding-bottom: 16px  !important;
   margin-top: 16px  !important;
   margin-bottom: 16px  !important;
   margin-left: 0px  !important;
   margin-right: 500px  !important;
}

.eudm-carousel {
   min-height: 400px;
   padding: 50px 50px;
}

.carousel-inner .item{ 
   display: flex;

   margin: 0px 70px;
}

.carousel-inner .item div{ 
   flex: 1;
   padding: 5px 5px;
}
.carousel-inner .item h2 {
   color: #3F4854;
   font-size: 1.5rem;
   font-weight: 400;
}
.carousel-inner .item p {
   color: #3F4854;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.6;
}
