{% extends "page.html" %}

{% block subtitle %}{{ _('About') }}{% endblock %}

{% block breadcrumb_content %}
{% endblock %}

{% block content%}
<div class="about-header-row">
<div class="container eudm-about-header">
   <h2>About EUDM</h2>
</div>
</div>
<div class="about-content-row">
<div class="container eudm-about-content">
<p>
The Energy Use Data Model (EUDM) is a platform for discovering data, research and reports from across the energy sector. Our focus is on providing you with a single access point to the best resources for understanding what drives and shapes Australian energy consumption behaviour, from individual households and businesses to our national energy use trends. The team behind EUDM curates public data assets, works with data holders to release previously private data, deploys cutting-edge data science techniques to expand the value of existing data, and leads brand new data collection and research efforts to fill critical gaps for the energy sector. We collaborate with industry, science and government organisations, and engage with the Australian people to deliver a diverse collection of assets that will inform future Australian decision making across the sector.
</p>

<p>
EUDM is funded by the Commonwealth Department of the Environment and Energy (DEE) and delivered by Australia’s national science agency, the Commonwealth Scientific and Industrial Research Organisation (CSIRO). But the resources you find here would not be possible without data providers from across industry, research and public spaces who see the value and importance of open data and the opportunity it presents for Australia to make evidence-based decisions in the Australian energy sector.
</p>

<p>
EUDM is currently in a pilot phase and what you see at the moment is just our first steps into improving data availability and delivering high quality data to the Australian community. Across the next few years the resources provided through EUDM will grow dramatically and the platform itself will continue to evolve to fit the needs of our users. If you have thoughts on where our energies should be focussed or would simply like to be kept informed about the latest with EUDM, please contact us at eudm@csiro.au, vote here or sign-up for regular updates below.
</p>
</div>

</div>
{% endblock %}

{% block primary %}
{% endblock %}

{% block secondary %}{% endblock %}
