{% extends "page.html" %}
{% set homepage_style = ( g.homepage_style or '1' ) %}


{% block content %}
  <div class="homepage layout-eudm">
    <div class="container">
      {{ self.flash() }}
    </div>

    <div class="container eudm-headline">
      <h3 class='eudm'>Australia's Energy Use Data Model</h3>
    </div>

    <div class="container eudm-homepage-search">
      <form class="section site-search simple-input" action="{% url_for controller='package', action='search' %}" method="get">
        <div class="field ">
          <label for="field-sitewide-search">{% block header_site_search_label %}{{ _('Search Datasets') }}{% endblock %}</label>
          <input id="field-sitewide-search" type="text" class="form-control" name="q" placeholder="{{ _('Search') }}" />
          <button class="btn-search" type="submit"><i class="fa fa-search"></i></button>
        </div>
      </form>
    </div>

    <div class="container eudm-homepage">
      <p> ... or browse <a href="/dataset">by category</a>, or learn more <a href="/about">about EUDM</a></p>
    </div>

  </div>

  <div class="homepage eudm-carousel-holder">
    <div class="container eudm-carousel">
        <div id="myCarousel" class="carousel slide">


          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item carousel-item">
               <div class="carousel-content">
               <div>
                  <h3>Unsure where to start?</h3>
                  <p>EUDM brings together energy data, research and reporting from across the sector and makes it available to all from one central location.  We are in our pilot phase at the moment, testing out functionality and asking our users what new resources they most need to conduct their research.  But already we have plenty to share!  A great place to start is with our data catalogue, which will help you find resources nearest to your heart.  Click here to get started.</p>
               </div>
               <div>
                  <img src="/where_to_start.jpg"/>
               </div>
               </div>
            </div>
            <div class="item">
               <div class="carousel-content">
               <div>
                 <h2>Featured data</h2>
                 <h3>Zone substation electricity use across Australia</h3>
                 <p>The EUDM team has brought together up to a decade of half-hourly electricity consumption data for thousands of zone substations across Australia’s electricity distribution systems.  Including data that has never before been publically released, the zone substation dataset is a rich view into the longitudinal load consumption behaviour of Australian electricity users.  The data is presented in a consistent format across distribution businesses and available for free in EUDM.</p>
               </div>
               <div>
                  <img src="/zone_substation_load.jpg"/>
               </div>
               </div>
            </div>
            <div class="item">
               <div class="carousel-content">
               <div>
                 <h2>Featured data</h2>
                 <h3>Household energy use surveying</h3>
                 <p>To explore the complex connections between household energy use, demographics, building characteristics and appliance uptake, the EUDM team recently designed and delivered a series of pilot residential energy surveys in Victoria and Western Australia.  The surveying program has given rise to a collection of data and reports that provide insight into effective survey design in this space, methods for maximising surveying uptake, and the nature and characteristics of household energy use seen in participating households.
                 </p>
               </div>
               <div>
                  <img src="/household_energy_survey.jpg"/>
               </div>
               </div>
            </div>
          </div>
         <!-- Carousel nav -->
         <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
         <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
         <div class="carousel-indicator-wrapper">
          <ol class="carousel-indicators">
             <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
             <li data-target="#myCarousel" data-slide-to="1"></li>
             <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
         </div>
       </div>
    </div>
  </div>
{% endblock %}
